@model IEnumerable<WebMaskDetection.Models.LocationTelegram>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Location Telegram List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Location
            </th>
            <th>
                Chat ID
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
    @Html.DisplayFor(modelItem => item.LocationSetting.Location)
</td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatID)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.LT_Index">Edit</a> |
                <!--  <a asp-action="Details" asp-route-id="@item.LT_Index">Details</a> |-->
                <a asp-action="Delete" asp-route-id="@item.LT_Index">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
